/*顶部 begin*/
.top {
    width: 100%;
    height: 36px;
    line-height: 36px;
    background-color: #F5F5F5;
}

.top a {
    color: #F22E00;
    padding-top: 5px;
}

.top .m {
    color: #6C6C6C;
}

.top ul{
    float: right;
    z-index: 2;
}
.top .aa{
    height: 100%;
  padding: 0 9px;
    float: left;
    font-size: 12px;
  position: relative;
}
.top .aa a{
    color: #000;
    display: block;
}
.top .aa .list{
   position: absolute;
    left:-1px; top:35px;
    border:1px solid black;
    border-top:none;
    width: 100%;
}
.top .aa .list dd{
    width: 100%;
    white-space:nowrap;
    padding: 0 9px;
}
.top .aa .list dd a{
    padding: 0;
}
.top .aa span{
    color: #F22E00;
}
.top .aa img{
     width: 5px;
   height: 3px;
   margin: 0px 0 auto 9px;
}
.top .aa .tb{
    width: 14px;
    height: 15px;
    margin-top: 10px;
  margin-right: 6px;
  float: left;
}
.top ul .aa .list{
    position: absolute;
    top: 50px;left: 0px;
    display: none;
    border-left: 1px solid #eee;
  border-right: 1px solid #eee;
  border-bottom: 1px solid #eee;
   background-color: #fff;
}
.top ul .aa .list dd{
  background: #FFFFFF;
  line-height: 15px;
  float: none;
  white-space: nowrap;
  padding: 9px;
}
.top ul .aa .list dd span{
    display: inline-block;
    width: 104px;
    height: 25px;
    background: #FF4400;
    color: #fff;
 padding-left: 10px;
}
.top ul .aa:hover .list{
   display: block;
}
.top ul .aa:hover .nav1{
   display: block;
}
.top ul .aa:hover{
    border-left: 1px solid #eee;
  border-right: 1px solid #eee;
  margin-left: -1px;
  margin-right: -1px;
  background-color: #fff;
  z-index: 2;
}
.top ul .aa .nav1{
    background: #FFFFFF;
    width: 1190px;
    height: 254px;
    border:1px solid #EEEEEE;
    position: absolute;
    right:0; top:35px;
    border-top:none;
}
.top ul .aa .navz>ul>li{
    float: left;
    width: 25%;
    border-right: 1px solid #EEEEEE;
    height: 100%;
    margin-right: -1px;
    margin-top: 16px;
}

.top ul .aa .navz{
    padding-left: 18px;
}
.top ul .aa .navz li{
    float: left;
    width: 25%;
}
.top .navz .c1 .zi{
    color: #FA5603;
    margin-left: 10px;
}
.top .navz .c1 .tu{
    color: #A0B959;
   margin-left: 10px;
}
.top .navz .c1 .rd{
    color: #DF61AB;
  margin-left: 10px;
}
.top .navz .c1 .gj{
    color: #55A1E5;
   margin-left: 10px;
}
.top ul .aa .navz .c1 li{
    position: relative;
}
.top ul .aa .navz .c1 li i{
    width: 9px;
    height: 14px;
    display: inline-block;
    background: url(../images/1.gif) no-repeat;
    position: absolute;
    right:12px; top: 0;
}
.top ul .aa .navz .c1 li a{
    padding: 0 9px;
    height: 25px;
    line-height: 25px;
    display: inline-block;
}
.top ul .aa .navz .c1 li a:hover{
    background-color: #FF5500;
    color: #fff;
    text-align: center;
    border-radius: 5px;
}
/*顶部 end*/
/*头部 begin*/
.header{
    position: relative;
    padding-top: 44px;
}
.header .logo{
    width: 144px;
    height: 60px;
    padding-right: 120px;
    background: url(../images/logo.jpg) no-repeat left center;
}
.header .ser{
    position: relative;
    width: 678px;
    height: 44px;
    border: 2px solid #ff5000;
    border-radius: 40px;
    overflow: hidden;
}
.header .ser p{
    width: 73px;
    height: 44px;
    line-height: 44px;
    background-color: #F5F5F5;
    color: #6B6B6B;
    text-align: center;
    border-right: 1px solid #E5E5E5;
}
.header .ser p span{
    display: inline-block;
    background: url("../images/sj.png") no-repeat center 15px;
    width: 5px;
    height: 20px;
    margin-left: 14px;
    cursor: pointer;
}
.header .ser .ipt{
    width: 504px;
    height: 39px;
    border: none;
    outline: none;
    text-indent: 2em;
}
.header .ser .zoom{
    position: absolute;
    top: 16px;
    left: 76px;
}
.header .ser .voc{
    position: absolute;
    top: 16px;
    right: 120px;
}
.header .ser h3{
    width: 100px;
    height: 44px;
    line-height: 44px;
    background-image: linear-gradient(to right,#ff9000 0,#ff5000 100%);
    text-align: center;
    font-size: 20px;
    color: #fff;
}
.header .en{
    position: relative;
    transition: .5s;
}
.header .en .x{
    position: absolute;
    top: 0;
    left: -20px;
    cursor: pointer;
}
.header .txt{
    position: absolute;
    left: 285px;
    bottom: 42px;
    color: #6B6B6B;
}
/*头部 end*/
/*特色服务开始*/
.sear{
    width: 178px;
    border: 1px solid #BBB;
    padding-left: 9px;
}
.sear h2{
    position: relative;
    width: 189px;
    height: 41px;
    line-height: 41px;
    background-color: #FF4400;
    color: #fff;
    text-align: center;
    margin-top: -1px;
    margin-left: -10px;
}
.sear h4{
    font-size: 14px;
    color: #000;
    padding: 10px 0;
}
.sear .submarket{
    background: url("../images/market.jpg") no-repeat left center;
    padding-left: 34px;
}
.sear .buy{
    background: url("../images/bag.jpg") no-repeat left center;
    padding-left: 34px;
}
.sear ul{
    border-bottom: 1px solid #DEDEDE;
    padding-bottom: 15px;
}
.sear ul li{
    float: left;
    margin-right: 12px;
    line-height: 20px;
}
.sear ul li:nth-child(3n){
    margin-right: 0;
}
.sear ul li a{
    color: #000;
}
.sear .sale{
    background: url("../images/sale.jpg") no-repeat left center;
    padding-left: 34px;
}
.sear .set{
    background: url("../images/set.jpg") no-repeat left center;
    padding-left: 34px;
}
/*特色服务结束*/
.content_gr{
    margin-left: 10px;
}
/*导航开始*/
.nav{
    width: 1000px;
    border-bottom: 2px solid #FF4400;
    padding-bottom: 10px;
}
.nav ul{
    padding-left: 24px;
}
.nav ul li{
    float: left;
    margin-right: 34px;
    font-size: 14px;
    font-weight: bold;
    color: #3B3B3B;
}
.nav ul li a{
    font-size: 14px;
    color: #3B3B3B;
}
.nav ul li .act{
    font-size: 16px;
    color: #FF4300;
}
.nav .consu {
    float: right;
    font-weight: bold;
    color: #3B3B3B;
}
/*导航结束*/
/*banner1 begin*/
.banner1{
    width: 690px;
    height: 280px;
    position:relative;
    overflow: hidden;
}
.banner1 ul{
    width:520px;
    height:280px;
    position:absolute;
    left:0;top: 0;
    margin-left:9px;
    margin-top: 10px;
}
.banner1 p{
    position:absolute;
    left:50%; bottom:15px;
    margin-left: -100px;
}
.banner1 p .active{
    background-color:#FF4400;
 }
.banner1 em{
    width: 9px;
    height:9px;
    background-color:#B7B7B7;
    margin:4px;
    display:inline-block;
    border-radius:50%;
}
.banner1 ul a{
    width:40px;
    height:40px;
    text-align: center;
    line-height:40px;
    color:#fff;
    font-size:28px;
    position:absolute;
    top:50%;
    margin-top: -20px;
    z-index:5;
    background-color:rgba(0, 0, 0, 0.5);
    opacity: 0;
}
.banner1:hover a{
    opacity: 1;
}
.banner1 .prev{
    left:0;
}
.banner1 .next{
    right: 0;
}
.banner1 li{
    width: 520px;
    height: 280px;
    float: left;
}
.banner1 li img{
    width: 100%;
    height: 100%;
}
.banner1 .img{
    margin-top: 10px;
}
/*banner1 end*/
/*banner2 begin*/
.banner2{
    width: 690px;
    height: 199px;
    position:relative;
    overflow: hidden;
}
.banner2 ul{
    width:521px;
    height:199px;
    position:absolute;
    left:0;top: 0;
    margin-left:9px;
}
.banner2 p{
    position:absolute;
    left:50%; bottom:15px;
    margin-left: -100px;
}
.banner2 p .active{
    background-color:#FF4400;
 }
.banner2 em{
    width: 9px;
    height:9px;
    background-color:#B7B7B7;
    margin:4px;
    display:inline-block;
    border-radius:50%;
}
.banner2 ul a{
    width:40px;
    height:40px;
    text-align: center;
    line-height:40px;
    color:#fff;
    font-size:28px;
    position:absolute;
    top:50%;
    margin-top: -20px;
    z-index:5;
    background-color:rgba(0, 0, 0, 0.5);
    opacity: 0;
}
.banner2:hover a{
    opacity: 1;
}
.banner2 .prev{
    left:0;
}
.banner2 .next{
    right: 0;
}
.banner2 li{
    width: 521px;
    height: 199px;
    float: left;
}
.banner2 li img{
    width: 100%;
    height: 100%;
}
/*banner2 end*/
/*登录界面开始*/
.rig{
    height: 478px;
    margin-top: 10px;
    border:1px solid #EEEEEE;
    cursor: pointer;
}
.rig .div1{
    height: 88px;
    border-bottom: 1px solid #EEEEEE;
}
.rig .div1 ul{
    cursor: pointer;
    height: 26px;
    width: 290px;
    background-color: #F7F7F7;
    line-height: 26px;
}
.rig .div1 ul li{
    height: 26px;
    width: 58px;
    font-size: 12px;
    text-align: center;
    float: left;
}
.rig .div1 ul li:hover{
    background-color: white;
}
.rig .div1 ul .active{
    background-color:red;
    color: white;
}
.rig .duv1 p{
    width: 276px;
    line-height:30px;
    font-size: 14px;
}
.rig .div1 p a{
    margin-top: 10px;
    color: black;
    float: left;
}
.rig .div1 p .a1{
    margin-right: 18px;
    color: red;
}
.rig .div1 p .a2{
    margin-right: 18px;
}
.rig .div1 p a:hover{
    color: red;
}
.rig .div2{
    height: 114px;
    background:url(../images/a4.jpg) no-repeat 14px top;
    position: relative;
}
.rig .div2 .p1{
    font-size: 12px;
    position: absolute;
    left:84px;
    top:10px;
}
.rig .div2 .p2{
    width: 84px;
    height: 30px;
    line-height: 30px;
    color: #F45732;
    font-size: 10px;
    position: absolute;
    left: 84px;
    top:30px;
    background: url(../images/a5.jpg) no-repeat 3px center #FFEFE7;
    padding-left:30px;
} 
.rig .div2 .p3{
    width: 76px;
    height: 30px;
    line-height: 30px;
    color: #F45732;
    font-size: 12px;
    background-color:#FFEFE7;
    position: absolute;
    left: 200px;
    top:30px;
    text-align: center;
}
.rig .div2 ul{
    position: absolute;
    left: 15px;
    top:72px;
}
.rig .div2 ul li{
    height: 35px;
    font-size: 12px;
    line-height: 35px;
    text-align: center;
    color: white;
    background-color: #FF4300;
    float: left;
    margin-right: 5px;
}

.rig .div2 ul .l1{
    width: 50px;
    background: url(../images/a11.jpg) no-repeat 26px center #FF4300 ;
    padding-left: 50px;
}
.rig .div2 ul .l2{
    width: 75px;
}
.rig .div2 ul .l3{
    width: 77px;
}
.rig .div3{
    height: 115px;
    background-color: #F4F4F4;
    border-bottom: 1px solid #EEEEEE;
    position: relative;
}
.rig .div3 p{
    font-size: 14px;
    position: absolute;
    left: 18px;
    top: 18px;
}
.rig .div3 ul{
    position: absolute;
    left: 18px;
    top:50px;

}
.rig .div3 ul li{
    width: 58px;
    height: 25px;
    text-align: center;
    color: #6B6B6B;
    font-size: 12px;
    margin-right: 8px;
    float: left;
    border-top: 1px solid #DDDDDD;
    border-left: 1px solid #DDDDDD;
    border-right: 1px solid #DDDDDD;
}
.rig .div3 ul .k1{
    background:url(../images/a6.jpg) no-repeat 20px 10px white;
    padding-top: 40px;
    color: red;
}
.rig .div3 ul .k2{
    background: url(../images/a7.jpg) no-repeat 20px 10px white;
    padding-top: 40px;
    border-bottom: 1px solid #DDDDDD;
}
.rig .div3 ul .k3{
    background: url(../images/a8.jpg) no-repeat 20px 10px white;
    padding-top: 40px;
    border-bottom: 1px solid #DDDDDD;
}
.rig .div3 ul .k4{
    background: url(../images/a9.jpg) no-repeat 20px 10px white;
    padding-top: 40px;
    border-bottom: 1px solid #DDDDDD;
 }
.rig .div3 ul li:hover{
    color: red;
 }
.rig .div4{
    height: 170px;
    padding-left: 10px;
}
.rig .div4 .hao{
    width: 180px;
    height: 22px;
    line-height: 22px;
    border:1px solid #AFAFAF;
    margin-top: 28px;
    background:url(../images/a10.jpg) no-repeat 160px center;
}
.rig .div4 .hao .p1{
    width: 30px;
    height: 22px;
    font-size:12px;
    background-color:#E5E5E5;  
    text-align: center;
    float: left;
    margin-right: 6px;
}
.rig .div4 .hao .p2{
    color:#A9A9A9;
    font-size: 12px; 
}
.rig .div4 .mian{
    width: 180px;
    height: 22px;
    line-height: 22px;
    margin-top: 6px;
    border:1px solid #AFAFAF;
    background:url(../images/jiao.png) no-repeat 160px center;
}
.rig .div4 .mian .p1{
    width: 30px;
    height: 22px;
    font-size:12px;
    background-color:#E5E5E5;  
    text-align: center;
    float: left;
    margin-right: 6px;
}
.rig .div4 .mian .p2{
    font-size: 12px; 
}
.rig .div4 .p3{
    font-size: 12px;
    margin-top: 6px;
    color:#656565;
}
.rig .div4 .p3 a{
    color: red;
}
.rig .div4 .p4{
    margin-top: 10px;
}
.rig .div4 .p4 a{
    display: inline-block;
    line-height: 28px;
}
.rig .div4 .p4 .a1{
    width: 72px;
    height: 28px;
    text-align: center;
    background-color: red;
    color: white;
    font-size: 12px;
}
.rig .div4 .p4 .a2{
    width: 72px;
    height: 28px;
    text-align: center;
    background-color: white;
    font-size: 12px;
    color: black;
    border:1px solid #DCDCDC;
}
.rig .div4 .p4 .a3{
    font-size: 12px;
    color: #999999;
}
/*登录界面结束*/
/*nav1 begin*/
.nav1{
    margin-top:17px;
}
/*nav1 end*/
.content{
    margin-top: 20px;
    height: 1980px;
}
.content .content-r {
    width: 900px;
    height: 1980px;
    float: left;
}
.content .content-r .kk1{
    height: 538px;
}
/*男女服饰 鞋包配件开始*/
.content .content-r .kk1 .r-1{
    height: 320px;
    width: 435px;
    float: left;
    margin-top: 10px;
    margin-right: 10px;
}
.content .content-r .kk1 .r-1 h2{
    font-size: 18px;
    line-height: 40px;
    height: 40px;
    float: left;
}
.content .content-r .kk1 .r-1 .p1{
    line-height: 40px;
    font-size: 12px;
    background:url(../images/clock.jpg) no-repeat 80px center;
}
.content .content-r .kk1 .r-1 .p1 .a5{
    color: #666564;
    margin-left: 20px;
    margin-right: 8px;
}
.content .content-r .kk1 .r-1 .p1 strong{
    color: red;
    cursor: pointer;
}
.content .content-r .kk1 .r-1 .bottom{
    width: 435px;
    height: 262px;
    border:1px solid #E8E8E8;
}
.content .content-r .kk1 .r-1 .bottom .bo-l{
    height: 262px;
    width: 100px;
    float: left;
    margin-right: 24px;
}
.content .content-r .kk1 .r-1 .bottom ul{
    margin-top: 12px;
    width: 310px;
    float: left;
}
.content .content-r .kk1 .r-1 .bottom ul li{
    line-height: 30px;
    height: 30px;
    margin-right: 5px;
}
.content .content-r .kk1 .r-1 .bottom ul li a{
    color: #6B6B6B;
    font-size: 12px;
}
.content .content-r .kk1 .r-1 .bottom ul li .a1{
    font-size: 14px;
    font-weight: bold;
    margin-right: 10px;
}
.content .content-r .kk1 .r-1 .bottom ul li .a2{
    font-size: 14px;
    font-weight: bold;
    color: red;
}
.content .content-r .kk1 .r-1 .bottom ul li .active{
    color: red;
    font-size: 12px;
}
.content.content-r .kk1 .rrr-1{
    width: 880px;
    height: 70px;
}
/*男女服饰 鞋包配件结束*/
/*户外运动 珠宝配饰开始*/
.kk1 .r-2{
    height: 248px;
    width: 434px;
    float: left;
    margin-right: 10px;
}
.kk1 .r-2 h2{
    font-size: 18px;
    line-height: 40px;
    height: 40px;
    float: left;
}
.kk1 .r-2 .p1{
    line-height: 40px;
    font-size: 12px;
    background:url(../images/clock.jpg) no-repeat 80px center;
}
.kk1 .r-2 .p1 .a5{
    color: #666564;
    margin-left: 20px;
    margin-right: 8px;
}
.kk1 .r-2 .p1 strong{
    color: red;
    cursor: pointer;
}
.kk1 .r-2 .bottom{
    width: 435px;
    height: 198px;
    border:1px solid #E8E8E8;
}
.kk1 .r-2 .bottom .bo-l{
    height: 198px;
    width: 100px;
    float: left;
    margin-right: 24px;
}
.kk1 .r-2 .bottom ul{
    margin-top: 12px;
    width: 310px;
    float: left;
}
.kk1 .r-2 .bottom ul li{
    line-height: 30px;
    height: 30px;
    margin-right: 5px;
}
.kk1 .r-2 .bottom ul li a{
    color: #6B6B6B;
    font-size: 12px;
}
.kk1 .r-2 .bottom ul li .a1{
    font-size: 14px;
    font-weight: bold;
    margin-right: 10px;
}
.kk1 .r-2 .bottom ul li .a2{
    font-size: 14px;
    font-weight: bold;
    color: red;
}
.kk1 .r-2 .bottom ul li .active{
    color: red;
    font-size: 12px;
}
/*户外运动 珠宝配饰结束*/
/*nav2 begin*/
.nav2{
    margin-top: 24px;
}
/*nav2 end*/
/*nav3 begin*/
.nav3{
    margin-top: 32px;
}
/*nav3 end*/
/*nav4 begin*/
.nav4{
    margin-top: 28px;
}
/*nav4 end*/
/*右边开始*/
.content_you{
    box-sizing: border-box;
    width: 288px;
    padding: 20px 14px 0 15px;
    border: 1px solid #E8E8E8;
    background-color: #F5F5F5;
}
/*发现好货开始*/
.content_you h3{
    font-size: 16px;
    color: #373737;
    background: url(../images/xin.jpg) no-repeat left center;
    padding-left: 22px;
    margin-bottom: 9px;
}
.content_you .huopin{
    box-sizing: border-box;
    width: 258px;
    height: 136px;
    border: 1px solid #D4D2D2;
    margin-top: -1px;
    background-color: #fff;
    padding: 20px 0 20px 15px;
}
.content_you .huopin .img{
    padding-right: 12px;
}
.content_you .intro h5{
    padding-top: 12px;
    color: #191919;
}
.content_you .intro p{
    line-height: 22px;
    color: #737373;
}
.content_you .intro p:before{
    content: '1234';
    color: transparent;
    width: 10px;
    height: 10px;
    background: url(../images/d1.jpg) no-repeat left center;
}
.content_you .intro p:after{
    content: '1234';
    color: transparent;
    width: 10px;
    height: 10px;
    background: url(../images/d2.jpg) no-repeat left center;
}
.content_you .intro span{
    color: #FF4101;
    font-weight: bold;
}
.content_you .squre{
    padding: 18px;
    border: 1px solid #D4D2D2;
    margin-top: -1px;
    background-color: #fff;
}
.content_you .reshes{
    margin-bottom: 20px;
    background-color: #fff;
}
.content_you .reshes p{
    background: url(../images/d3.jpg) no-repeat 50px center;
    font-size: 14px;
    color: #6B6B6B;
    height: 40px;
    line-height: 40px;
    border: 1px solid #D4D2D2;
    margin-top: -1px;
    text-align: center;
}
/*发现好货结束*/
/*发现好店开始*/
.content_you .cover{
    box-sizing: border-box;
    width: 258px;
    height: 178px;
    border: 1px solid #D4D2D2;
    padding: 15px 14px;
    background-color: #fff;
    margin-bottom: 20px;
}
.content_you .cover p,.content_you .cover strong{
    color: #737373;
}
.content_you .cover .ka{
    padding: 15px 0 7px 0;
}
/*发现好店结束*/
.ad4{
    margin-top: 12px;
}
/*右边结束*/
.top_content{
    height:844px;
    margin-top: 69px;
}
/*星店开始*/
.stars{
    margin-bottom: 42px;
}
.stars .stars_list{
    float: left;
    width: 170px;
    height: 335px;
    border: 1px solid #E8E8E8;
    padding: 12px;
    margin-left: -1px;
}
.stars .stars_list h3{
    display: inline-block;
    padding-right: 9px;
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: normal;
}
.stars .stars_list .hong{
    color: red;
}
.stars .stars_list .txt_bg{
    background-color: #F8F8F8;
    padding: 9px 0;
    margin-bottom: 11px;
}
.stars .stars_list h5,.stars .stars_list em{
    text-align: center;
}
.stars .stars_list h5,.stars .stars_list span,.stars .stars_list p{
    color: #3B3B3B;
}
.stars .stars_list em{
    display: block;
    color: #B8B8B8;
}
.stars .stars_list span{
    text-align: center;
    color: #3B3B3B;
    margin-bottom: 14px;
}
.stars .stars_list p span{
    padding: 0 7px;
    line-height: 26px;
}
.stars .stars_list .aa{
    margin:0 11px 8px 0;
}
.stars .stars_list .bb{
    padding:0 24px 0 14px;
}
/*星店结束*/
/*热卖单品开始*/
.Sellers{
    margin-bottom: 82px;
}
.Sellers_top h3{
    color: #3B3B3B;
    padding-bottom: 22px;
}
.Sellers_top ul li{
    float: left;
}
.Sellers_top ul li a{
    color: #3B3B3B;
}
.Sellers_top ul li span{
    padding: 0 9px;
    color: #DDDEDE;
}
.Sellers_bot ul li{
    width: 171px;
    height: 194px;
    float: left;
}
.Sellers_bot ul li img{
    margin-bottom: 15px;
}
.Sellers_bot ul li p{
    color: #3B3B3B;
}
.Sellers_bot ul li em{
    display: block;
    color: #FF4300;
}
.Sellers_bot ul li span{
    color: #9B9B9B;
}
.Sellers_bot ul li .cdn{
    text-decoration: line-through;
}
/*热卖单品结束*/
/*消费者保障开始*/
.help{
    width: 1190px;
    height: 175px;
    margin: auto;
    margin-top: 88px;
    border-bottom: 2px solid #f40;
}
.help a{
    color: #9B9B9B;
}
.help_info{
    float: left;
    width: 286px;
    padding-left: 10px;
    margin: 30px 0 0 0;
    height: 100px;
    border-right: 1px solid #eee;
}
.help_info:last-child{
    border-right: none;
}
.help_info h1{
    height: 40px;
    line-height: 40px;
}
.help_text{
    vertical-align: top;
    font-size: 16px;
    margin-left: 9px;
    color: #3e3e3f;
    text-shadow: 1px 1px 1px #7f7f7f;
}
.help_a,.help_a_list{
    display: inline-block;
    margin: 10px 70px 0 5px;
}
.help_a_list{
    margin: 10px 10px 0 5px;
}
.margin_r{
    margin-right: 0;
}
/*消费者保障结束*/
/*footer begin*/
.footer{
    width: 1190px;
    height: 150px;
    margin: 0 auto 10px auto;
}
.footer a{
    color: #9B9B9B;
}
.footer_right{
    float: left;
    width: 94%;
    height: 100%;
}
.admin{
    float: right;
}
.footer_nav{
    width: 100%;
    height: 42px;
    line-height: 42px;
    border-bottom: 1px solid #ddd;
    color: #dedede;
}
.footer_nav > a{
    margin: 0 3px;
}
.Permit{
    color: #6B6B6B;
}
.about{
    width: 100%;
    height: 42px;
    line-height: 42px;
}
.footer_right p span{
    margin: 0 5px;
}
.info{
    margin-top: 10px;
}
/*footer end*/